<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
</head>

<body>
  <%- include("./partials/header.ejs")%>
    <main>
      <div class="main-contaner">
        <div class="alight-center-text">
          <h1>Just a Blog</h1>
          <p>Build with TypeScript, Node.js, Express.js, EJS and MongoDB</p>
        </div>
      </div>
    </main>
    <%- include("./partials/footer.ejs")%>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>