.post-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4vh;
  border-top: #1f2327 solid 1px;
  border-bottom: #1f2327 solid 1px;
  padding-top: 0.5em;
}

.post-description .date-time {
  text-align: right;
}

.post-description .date-time p {
  margin: 0;
}

.alight-center {
  text-align: justify;
}

.post-text {
  text-indent: 2em;
  margin-top: 1em;
  display: block;
  width: 100%;
} 

a {
  color: #1f2327;
  text-decoration: none;
}

a:hover {
  color: #1f2327;
}

.post {
  margin-bottom: 7vh;
  padding-bottom: 5vh;
}
